.table-data-center {
    text-align: center;
}

td[aria-describedby='news-table_table_title'] {
    cursor: pointer;
}

.modal-dialog {
    width: 90%;
    height: 90%;
}

.radio.inline,
.checkbox.inline {
    width: 65px;
}

input.form-control {
    width: 100% !important;
}

.modal-body {
    min-height: 720px;
}

.modal-content {
    margin-bottom: 30px;
}

.btn {
    margin-left: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

[data-notify="container"] {
    width: 70%;
}

[data-notify="container"].alert {
    font-size: 100%;
    text-align: center;
}

.panel {
    margin-top: 15px;
}